/* Main app layout */
.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background: var(--bg);
  overflow-y: auto; /* Prevent scrollbars on main container */
}

.main-content {
  overflow-y: auto;
  margin: 0;
  flex-grow: 1;
  width:100%;
  max-width:100vw;
  background: var(--bg);
}

* {
  box-sizing: border-box;
}

