.size-dropdown-container {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  height: 24px;
  /* Match Quill's default toolbar item height */
}

.size-input-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid #e1e5e9;
  border-radius: 3px;
  background-color: #fff;
  padding: 0px 3px;
  height: 100%;
  box-sizing: border-box;
}

.size-input-wrapper:hover {
  box-shadow: 0 2px 8px rgba(52, 152, 219, 0.1);
}

.size-input {
  width: 2.5em;
  /* Adjust width as needed */
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  font-size: 14px;
  /* Match Quill's toolbar font size */
  text-align: center;
  height: 100%;
}

/* The clickable container for the arrow */
.size-arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.size-arrow-container.active .size-dropdown-arrow {
  transform: rotate(180deg);
}

.size-input-wrapper.active,
.size-input-wrapper:focus-within {
  border-color: #FFBF00;
}

.size-input-arrow-container.active,
.size-input-wrapper:focus-within {
  border-color: #FFBF00;
}

.size-input.active {
  border-color: #FFBF00;
}



/* Style the arrow */
.size-dropdown-arrow {
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #7f8c8d;
  transition: transform 0.2s ease;
  margin-left: 5px;
}

.size-arrow-container.active .size-dropdown-arrow {
  transform: rotate(180deg);
}

.size-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
}

.size-dropdown-menu.show {
  display: block;
}

.size-dropdown-item {
  padding: 5px 20px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  user-select: none;
}

.size-dropdown-item:hover {
  background: #f9fafb;
  color: #FFBF00;

}

.size-dropdown-item.selected {
  background: #f5f3ff;
  color: #FFBF00;
  font-weight: 500;
}

/* Custom scrollbar */
.size-dropdown-menu::-webkit-scrollbar {
  width: 5px;
}

.size-dropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.size-dropdown-menu::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

.size-dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}